
.background {
   background-image: url("../assets/destination/background-destination-desktop.jpg");
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-color: #0B0D17;
   margin: 0;
   height: auto;
}

/* TYPOGRAPHY */

h4 {
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-bottom: 5%;
}

h3 {
    white-space: nowrap;
    padding-bottom: 5%;
}

h5 {
    padding-bottom: 15%;
}

.dest-nav-text {
    padding: 0 0 10px 0;
    margin: 0 43px 0 0;
    color: #D0D6F9;
}

.dest-nav-text-bold {
    font-weight: normal;
    color: #FFFFFF;
}

/* Containers */


.left-container {
    float: left;
    width: 450px;
    margin: 1% 0 0 10%;

}

.right-container {
    float: right;
    padding: 0;
    margin-top: 5%;
    margin-right: 20.5%;

    width: 445px;

}

.body-container {
    display: block;
    margin: 0;
}

.distance {
    float: left;
    margin-right: 15%;
}

.time {
    float: left;
    margin-right: 5%;
}

.destination-navigation {
    margin-bottom: 10%;
}

.statistics {
    margin-top: 12%;
}

/* GRAPHICS */

.moon {
    margin-left: 8%;
}

.mars {
    margin-left: 8%;
}

.europa {
    margin-left: 8%;
}

.titan {
    margin-left: 8%;
}