.background {
   background-image: url("../assets/home/background-home-desktop.jpg");
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-color: #0B0D17;
   margin: 0;
   height: auto;

}


.left-container {
    width: 450px;
    float: left;
    margin-left: 10%;
}

.right-container {
    display: inline;
    float: right;
    margin-right: 18%;
    margin-top: 3%;
}

.body-container {
    margin-top: 8%;
}
/* INTERACTIVE ELEMENTS */


.explore {
    display: inline;
    float: right;
    height: 274px;
    width: 274px;
    line-height: 274px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-family: "Bellefair", serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #0B0D17;
    letter-spacing: 2.35px;
    transition: 0.3s;

}


.explore:hover {
    box-shadow: 0 0 0 88px rgba(151, 151, 151, 0.5);

}