/* COLORS

Dark Blue: #0B0D17
Lavender: #D0D6F9
White: #FFFFFF
Dark Grey: #979797
*/

/* TYPOGRAPHY */

p {
    font-family: "Barlow", sans-serif;
    font-size: 1.125rem;
    color: #D0D6F9;
    line-height: 32px;
}

a {
    text-decoration: None;
}

h1 {
    font-family: "Bellefair", serif;
    font-size: 9.375rem;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    font-weight: normal;
}

h2 {
    font-family: "Bellefair", serif;
    font-size: 6.25rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-family: "Bellefair", serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0;
}

h4 {
    font-family: "Bellefair", serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0;
}

h5 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: #D0D6F9;
    letter-spacing: 4.75px;
    margin: 0;
}

.subheading-1 {
    font-family: "Bellefair", serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.subheading-2 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2.35px;
    margin: 0;
}

.nav-text {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2.7px;
    display: inline;
    height: 96px;
    padding: 34px 0;
    margin: 0 48px 0 0;
    transition: 0.3s linear;
    border-bottom: solid 0px #979797;
}

.nav-text-bold {
    margin-right: 8px;
    font-weight: bold;
}

/* CONTAINERS */

.navigation-container {
    margin: 5% auto;
    height: 96px;
    overflow: clip;
}

.navigation-box {
    float: right;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(151, 151, 151, 0.1);
    width: 55%;
    height: 100%;
    margin: auto 0;
}

.navigation-sections {
    position: relative;
    top: 25%;
    display: block;
    margin: auto;
    padding: 1%;
    width: 80%;

}

.body-container {
    display: block;
    clear: right;
}

/* GRAPHICS */

.logo {
    float:left;
    margin: 0;
    display: inline-block;
    margin-left: 5%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);

    }

.navigation-line {
    float:left;
    width: 37%;
    position: relative;
    top: 50%;
    left: 3%;
    border-color: #979797;
    margin: 0;

}

.active-tab {
    border-bottom: solid 3px #FFFFFF;
}

/* INTERACTIVE ELEMENTS */

.nav-text:hover {
    border-bottom: solid 3px #979797;
}